
.basicButton {
    -fx-background-color: none;
    -fx-border-radius: 12.5px; /* Runde Ecken */
    -fx-background-radius: 12.5px;
    -fx-min-height: 25px;
    -fx-min-width: 25px;
    -fx-transition: all 0.3s ease; /* Sanfter Übergang bei Hover */
}

/* Hover-Effekt: Button wird größer und dunkler */
.basicButton:hover {
    -fx-translate-y: -0.6;
    -fx-transition: all 0.5s ease; /* Sanfter Übergang bei Hover */
}