

.cardPane {
    -fx-padding: 10;
}

.card {
    -fx-pref-height: 280;
    -fx-pref-width: 230;
    -fx-border-color: limegreen; /* Dunkelorange für den Rand */
    -fx-border-width: 2;
    -fx-background-color: #FAF3E0; /* Sehr helles Orange für den Hintergrund */
    -fx-spacing: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 10, 0.5, 0, 0); /* Sanfter Schatten */
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-font-family: "Segoe UI", sans-serif; /* Moderne Schriftart */
}

/* Card Content Styles */
.cardContent {
    -fx-padding: 10;
}

/* Card Title Container */
.cardTitleContainer {
   /* -fx-background-color: #FFA040; /* Etwas helleres Orange für den Titel */
    -fx-background-color: #FAF3E0; /* Etwas helleres Orange für den Titel */
    -fx-pref-height: 40;
    -fx-padding: 5;
    -fx-alignment: center-left;
    -fx-border-radius: 10 10 0 0;
    -fx-background-radius: 10 10 0 0;
    -fx-border-width: 0 0 1 0; /* Oben, rechts, unten, links */
    -fx-border-color: transparent transparent black transparent; /* Farbe oben, rechts, unten, links */

}

/* Card Title Text */
.cardTitle {
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}


.card:hover {
    -fx-scale-x: 1.01;
    -fx-scale-y: 1.01;
    -fx-background-color: white; /* Dezente Veränderung bei Hover */
    -fx-effect: dropshadow(gaussian, limegreen, 15, 0.5, 0, 0); /* Schatten in LimeGreen bei Hover */
    -fx-border-color: #000000; /* Dunklerer Rand bei Hover (dunkler Orange) */
}


