

.cardPane {
    -fx-padding: 10 10 10 10;
}

.card {
    -fx-padding: 0 5 10 5;
    -fx-pref-width: 430;
    -fx-border-width: 2;
    -fx-spacing: 10;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-size: 12pt;
}

/* Card Content Styles */
.cardContent:hover {
    -fx-cursor: hand;
}

/* Card Title Container */
.cardTitleContainer {
    -fx-padding: 5;
    -fx-spacing: 5;
    -fx-alignment: center-left;
    -fx-border-radius: 10 10 0 0;
    -fx-background-radius: 10 10 0 0;
    -fx-border-width: 0 0 1 0;
}

/* Card Title Text */
.cardTitle {
    -fx-font-size: 16pt;
    -fx-font-style: italic;
}

.basicButtonCard {
    -fx-border-width: 0;
    -fx-pref-height: 18pt;
    -fx-pref-width: 18pt;
    -fx-padding: 0;
}

.basicButtonCard:hover {

}

.basicButtonCard > * {
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-padding: 0;
    -fx-font-size: 16pt;

}





