@import url("themeElements.css");

.root {

    -fx-colorGridMain: rgba(0, 0, 0, 0.05);


    /*HEADERS*/
    -fx-header1: #0082ae;
    /*END HEADERS*/
    /*----------- Text and Text Areas---------------- */

    -fx-color1: white; /* Text Fill Color */
    -fx-color2: #303030; /* Background Text Areas */
    -fx-color12: white; /* Text Fill in Text Areas*/
    /*----------- END OF Text and Text Areas---------------- */

    /*----------- BORDERS ----------- */
    -fx-color3: #2d2d2d;
    -fx-color13: #0082ae;
    -fx-color23: #0082ae;
    -fx-color58: grey;
    /*----------- END OF BORDERS----------- */

    /*---------------- Toolbar----------------------- */
    -fx-color14: white; /*Stroke and Fill SVG PATH*/
    -fx-color15: #1e1e28; /* TOOLBAR BACKGROUND*/
    -fx-color150: #21d8ff;
    -fx-color40: #282832;
    -fx-color400: #09dd94;
    -fx-color16: -fx-color3; /* Border Button */
    -fx-effect1: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0, 0, 0); /*SHADOW BUTTON*/
    -fx-effect2: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 5, 0, 0, 0); /*hover BASIC BUTTON*/
    /*----------------END OF Toolbar----------------------- */


    /**-----------------Buttons--------------------------*/
    -fx-color7: -fx-color13; /*BROWSER BUTTON COLOR*/
    -fx-color8: -fx-color13; /*basic Button hover*/
    /*-----------------END Buttons--------------------------/

     */
    /*---------- CARDS-------------- */
    -fx-color5: black;
    -fx-color6: rgba(28, 26, 26, 1); /* Background Color */
    -fx-color66: rgba(38, 36, 36, 1); /* Background Color hover*/
    -fx-effect19: dropshadow(gaussian, rgba(50, 50, 50, 0), 10, 0.0, 0.0, 0.0);/*Cards shadow with 9 for hover*/    /*---------- END OF CARDS-------------- */


    /*----------------------- COMPONENTS (Toggler Switch)---------------------------------- */
    -fx-color17: black; /*Border Color of check-box*/
    -fx-color9: #b4b4b4; /* check-box Background */
    -fx-color4: #00c800; /* BOX selected Background*/
    -fx-color10: #224444; /* Background Color Box */
    -fx-color11: black; /* Border Color Box */
    /*------------------------ END OF Components------------------------------------- */


    /*----------------SCENE VIEW BACKGROUND COLOR----------------*/
    -fx-containerBackground: linear-gradient(to bottom right, rgba(30, 30, 35, 1) 20%, rgba(40, 40, 45, 1) 60%, rgba(50, 50, 55, 1) 80%, rgba(60, 60, 65, 1) 100%);
    -fx-basicBackground: #1e1e1e;

    /*----------------END SCENE VIEW BACKGROUND COLOR----------------*/

    /*---------------- MAIN SCENE BUTTONS------------------------------ */
    -fx-RadialGradient1: radial-gradient(center 50% 50%, radius 50%, #21d8ff, #09dd94); /*BUTTON MAIN*/
    -fx-radialGradient2: radial-gradient(center 50% 50%, radius 50%, #21d805, #09dd94); /*HOVER BUTTON MAIN*/
    -fx-radialGradient3: radial-gradient(center 50% 50%, radius 50%, #b7ffdf, #fcff84); /*TOPBAR*/
    -fx-effect3: dropshadow(gaussian, rgba(240, 230, 255, 0.98), 40, 0.0, 0.0, 0.0); /*FAIRY*/
    -fx-effect9: dropshadow(gaussian, rgba(80, 70, 100, 0.98), 5, 0.0, 0.0, 0.0); /*MAIN BUTTON 2 and 1*/
    -fx-effect18: dropshadow(gaussian, rgba(60, 200, 120, 0.98), 5, 0.0, 0.0, 0.0);
    /*------------- END MAIN SCENE BUTTONS------------------------------- */

    /*--------------------------------ACTION BUTTONS ----------------------------*/
    -fx-effect4: dropshadow(gaussian, rgba(100, 150, 255, 1), 10, 0, 0, 0); /*BROWSE BUTTON HOVER*/
    -fx-effect5: dropshadow(gaussian, rgb(255, 177, 33), 20, 0, 0, 0); /*PAUSE BUTTON HOVER*/
    -fx-effect6: dropshadow(gaussian, rgba(200, 200, 255, 1), 20, 0, 0, 0); /*DELETE BUTTON HOVER*/
    -fx-effect7: dropshadow(gaussian, rgba(150, 155, 150, 1), 20, 0, 0, 0); /*SAVE BUTTON HOVER*/
    -fx-effect8: dropshadow(gaussian, rgba(100, 255, 100, 1), 25, 0, 0, 0); /*PLAY BUTTON HOVER*/
    -fx-effect10: dropshadow(gaussian, rgb(255, 0, 251), 20, 0, 0, 0); /*Restore BUTTON HOVER*/

    -fx-deleteColor: #c80000;
    -fx-saveColor: #009dff;
    -fx-pauseColor: #c87300;
    -fx-playButton: #00dd00;
    -fx-restoreColor: #b200ff;
    /*------------------------- END ACTION BUTTONS -----------------------------------*/




    -fx-danger: rgba(95, 5, 5, 0.8);
    -fx-dangerBorder: rgb(255, 0, 0);

    -fx-save: rgba(29, 102, 145, 0.8);
    -fx-saveBorder: rgb(171, 197, 255);

    -fx-play: rgba(7, 62, 16, 0.8);
    -fx-playBorder: rgb(0, 255, 13);

    -fx-stop: rgba(140, 80, 1, 0.8);
    -fx-stopBorder: rgb(255, 144, 56);
}



