@import url("themeElements.css");


.root {
    -fx-color1: #e0e0e0;
    -fx-color2: #bdbdbd;
    -fx-color3: #666666;
    -fx-color4: #4caf50;
    -fx-color5: black;
    -fx-color6: #111111;
    -fx-color7: lightblue;
    -fx-color8: rgba(0,80,255,1);

    -fx-basicBackground: linear-gradient(to bottom right, rgba(30,30,35, 1) 20%, rgba(40,40,45, 1) 60%, rgba(50,50,55, 1) 80%, rgba(60,60,65, 1) 100%);
    -fx-effect1: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 0, 0);
    -fx-effect2: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 10, 0, 0, 0);
    -fx-effect3: dropshadow(gaussian, rgba(240, 230, 255, 0.98), 40, 0.0, 0.0, 0.0);
    -fx-effect4: dropshadow(gaussian, rgba(100, 150, 255, 1), 15, 0, 0, 0);
    -fx-effect5: dropshadow(gaussian, rgba(255, 0, 0, 1), 20, 0, 0, 0);
    -fx-effect6: dropshadow(gaussian, rgba(200, 200, 255, 1), 20, 0, 0, 0);
    -fx-effect7: dropshadow(gaussian, rgba(200, 255, 200, 1), 20, 0, 0, 0);
    -fx-effect8: dropshadow(gaussian, rgba(0, 255, 0, 1), 20, 0, 0, 0);

    -fx-linearGradient1: linear-gradient(to right, #21d8ff, #09dd94);;
    -fx-RadialGradient1: radial-gradient(center 50% 50%, radius 50%, #21d8ff, #09dd94);
    -fx-radialGradient2: radial-gradient(center 50% 50%, radius 50%, #21d805, #09dd94);
}

