@import url("themeElements.css");

.root {
    -fx-color1: black; /* Heller Hintergrund */
    -fx-color2: #f5f5f5; /* Sehr helles Grau */
    -fx-color3: #9e9e9e; /* Dunkleres Grau für Kontraste */
    -fx-color4: #81c784; /* Helle Variante des Grüntons */
    -fx-color5: white;   /* Textfarbe bleibt schwarz */
    -fx-color6: white; /* Dunkelgrau für Texte oder Icons */
    -fx-color7: #d7ebf7; /* Hellere Variante von Lightblue */
    -fx-color8: rgba(150, 190, 255, 1); /* Leichterer Blauton */

    -fx-basicBackground: linear-gradient(to bottom right, rgba(255, 255, 255, 1) 20%, rgba(245, 245, 245, 1) 60%, rgba(215,215,215, 1) 80%, rgba(210,210,210, 1) 100%);
    -fx-effect1: dropshadow(gaussian, rgba(255, 255, 255, 0.2), 10, 0.5, 0, 0);
    -fx-effect2: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 10, 0, 0, 0);
    -fx-effect3: dropshadow(gaussian, rgba(240, 230, 255, 0.98), 40, 0.0, 0.0, 0.0);
    -fx-effect4: dropshadow(gaussian, rgba(100, 150, 255, 1), 15, 0, 0, 0);
    -fx-effect5: dropshadow(gaussian, rgba(255, 0, 0, 1), 20, 0, 0, 0);
    -fx-effect6: dropshadow(gaussian, rgba(200, 200, 255, 1), 20, 0, 0, 0);
    -fx-effect7: dropshadow(gaussian, rgba(200, 255, 200, 1), 20, 0, 0, 0);
    -fx-effect8: dropshadow(gaussian, rgba(0, 255, 0, 1), 20, 0, 0, 0);

    -fx-linearGradient1: linear-gradient(to right, #21d8ff, #09dd94);;
    -fx-RadialGradient1: radial-gradient(center 50% 50%, radius 50%, #21d8ff, #09dd94);
    -fx-radialGradient2: radial-gradient(center 50% 50%, radius 50%, #21d805, #09dd94);
}
