@import url("themeElements.css");

.root {

    /*HEADERS*/
    -fx-header1: rgba(0,80,255,1);
    /*END HEADERS*/

    -fx-colorGridMain: rgba(0,0,0,0.05);
    /*----------- Text and Text Areas---------------- */

    -fx-color1: black; /* Text Fill Color */
    -fx-color2: white; /* Background Text Areas */
    -fx-color12: black; /* Text Fill in Text Areas*/
    /*----------- END OF Text and Text Areas---------------- */

    /*----------- BORDERS ----------- */
    -fx-color3: black;
    -fx-color13:  rgba(0,80,255,1);
    /*----------- END OF BORDERS----------- */

    /*---------------- Toolbar----------------------- */
    -fx-color14: black; /*Stroke and Fill SVG PATH*/
    -fx-color15: #e6ffe6; /* TOOLBAR BACKGROUND*/
    -fx-color16: -fx-color3;  /* Border Button */
    -fx-effect1: dropshadow(gaussian, rgba(100, 100, 255, 0.2), 5, 0, 0, 0);/*SHADOW BUTTON*/
    -fx-effect2: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 5, 0, 0, 0);/*hover BASIC BUTTON*/
    /*----------------END OF Toolbar----------------------- */


    /**-----------------Buttons BasicButton BrowserButton--------------------------*/
    -fx-color7: -fx-color13; /*BROWSER BUTTON COLOR*/
    -fx-color8:  -fx-color13; /*basic Button hover*/
    /*-----------------END Buttons--------------------------*/


    /*---------- CARDS-------------- */
    -fx-color5: black;
    -fx-color6: rgba(253, 229, 207, 1);
    -fx-color66: rgba(233, 209, 187, 1); /* Background Color hover*/

    /*---------- END OF CARDS-------------- */



    /*----------------------- COMPONENTS (Toggler Switch)---------------------------------- */
    -fx-color17: black; /*Border Color of check-box*/
    -fx-color9: white; /*check-box Background */
    -fx-color4: #00c800; /* BOX selected Background*/
    -fx-color10: #224444; /* Background Color Box */
    -fx-color11: black; /* Border Color Box */
    /*------------------------ END OF Components------------------------------------- */

    /*----------------SCENE VIEW BACKGROUND COLOR----------------*/
    -fx-mainBasicBackground: linear-gradient(to bottom right, rgba(255, 255, 255, 1) 20%, rgba(245, 245, 245, 1) 60%, rgba(230,230,230, 1) 80%, rgba(225,225,215, 1) 100%);
    -fx-basicBackground: white;
    /*----------------END SCENE VIEW BACKGROUND COLOR----------------*/

    /*---------------- MAIN SCENE BUTTONS------------------------------ */
    -fx-RadialGradient1: radial-gradient(center 50% 50%, radius 50%, #001c22, #00301e);/*BUTTON*/
    -fx-radialGradient2: radial-gradient(center 50% 50%, radius 50%, #0b5500, #005e3d);/*HOVER BUTTON*/
    -fx-effect3: dropshadow(gaussian, rgba(50, 50, 250, 0.98), 40, 0.0, 0.0, 0.0);/*FAIRY*/
    -fx-effect9: dropshadow(gaussian, rgba(50, 50, 250, 0.98), 10, 0.0, 0.0, 0.0);/*MAIN BUTTON 2*/
    -fx-effect18: dropshadow(gaussian, rgba(60, 200, 120, 0.98), 5, 0.0, 0.0, 0.0);

    /*------------- END MAIN SCENE BUTTONS------------------------------- */

    /*-----ACTION BUTTONS ------*/
    -fx-effect4: dropshadow(gaussian, rgba(100, 150, 255, 1), 15, 0, 0, 0);/*BROWSE BUTTON HOVER*/
    -fx-effect5: dropshadow(gaussian, rgb(149, 40, 0), 20, 0, 0, 0); /*PAUSE BUTTON HOVER*/
    -fx-effect6: dropshadow(gaussian, rgba(100, 100, 155, 1), 20, 0, 0, 0);/*DELETE BUTTON HOVER*/
    -fx-effect7: dropshadow(gaussian, rgba(50, 55, 50, 1), 20, 0, 0, 0);/*SAVE BUTTON HOVER*/
    -fx-effect8: dropshadow(gaussian, rgba(0, 100, 0, 1), 20, 0, 0, 0);/*PLAY BUTTON HOVER*/
    -fx-effect10: dropshadow(gaussian, rgba(100, 0, 0, 1), 20, 0, 0, 0); /*Restore BUTTON HOVER*/

    -fx-deleteColor: rgb(150, 0, 0);
    -fx-saveColor: rgb(0, 72, 255);
    -fx-pauseColor: rgb(99, 43, 2);
    -fx-playButton: rgb(0, 128, 0);
    -fx-restoreColor: rgb(85, 0, 128);

    /*----- END ACTION BUTTONS ------*/


    -fx-danger: #ffe0cc; 

    -fx-dangerBorder1: rgb(255, 0, 0);
}
