Pane {
    -fx-padding: 10;       /* Optionaler Innenabstand */
}
/* CSS für StackPane */
StackPane {
    -fx-alignment: center; /* Zentriert den Inhalt im StackPane */
    -fx-background-color: lightblue; /* Hintergrundfarbe des StackPane */
}

/* GridPane Styling */
.gridPane{
    -fx-max-width: 800px;      /* Maximale Breite */
    -fx-max-height: 800px;     /* Maximale Höhe */
    -fx-padding: 30px;         /* Außenabstand */
    -fx-grid-lines-visible: true;  /* Gitterlinien sichtbar machen */

}
.gridPane Line {
        -fx-stroke: linear-gradient(to right, #21d8ff, #09dd94); /* Farbverlauf für Gitterlinien */
        -fx-stroke-width: 8px;
        -fx-effect: dropshadow(gaussian, rgba(0, 0, 255, 0.95), 5, 0, 0, 0); /* Schimmernder Schatten für Linien */
         -fx-transition: -fx-effect 0.5s ease-in-out infinite; /* Animation für den Schatten */
}


.mainWindowButton {
   -fx-min-width: 130px;
   -fx-min-height: 130px;
   -fx-max-width: 130px;
   -fx-max-height: 130px;
   -fx-background-color: radial-gradient(center 50% 50%, radius 50%, #21d8ff, #09dd94);
   -fx-background-radius: 65px;
   -fx-font-family: "Serif";
   -fx-font-size: 24px;
   -fx-text-fill: #ffffff; /* Optionale Farbe */
   -fx-font-style: italic;
   -fx-scale-x: 1;
   -fx-scale-y: 1;

    /* Runder Schatten */
    -fx-effect: dropshadow(gaussian, rgba(50, 30, 20, 0.93), 15, 0.0, 0.0, 0.0);

}

.placeholderButton {
   -fx-min-width: 65px;
   -fx-min-height: 65px;
   -fx-max-width: 65px;
   -fx-max-height: 65px;
   -fx-background-color: radial-gradient(center 50% 50%, radius 50%, #21d8ff, #09dd94);
   -fx-background-radius: 32.5px;
   -fx-font-family: "Serif";
   -fx-font-size: 24px;
   -fx-text-fill: #ffffff; /* Optionale Farbe */
   -fx-font-style: italic;
   -fx-scale-x: 1.0;
   -fx-scale-y: 1.0;
    /* Runder Schatten */
    -fx-effect: dropshadow(gaussian, rgba(50, 30, 20, 0.93), 15, 0.0, 0.0, 0.0);

}

.placeholderButton2 {
   -fx-min-width: 30px;
   -fx-min-height: 30px;
   -fx-max-width: 30px;
   -fx-max-height: 30px;
   -fx-background-color: radial-gradient(center 50% 50%, radius 50%, #21d8ff, #09dd94);
   -fx-background-radius: 15px;
   -fx-font-family: "Serif";
   -fx-font-size: 24px;
   -fx-text-fill: #ffffff; /* Optionale Farbe */
   -fx-font-style: italic;
   -fx-scale-x: 1.0;
   -fx-scale-y: 1.3;
    /* Runder Schatten */
    -fx-effect: dropshadow(gaussian, rgba(50, 30, 20, 0.98), 15, 0.0, 0.0, 0.0);

}

.imageFee{
    -fx-effect: dropshadow(gaussian, rgba(50, 30, 20, 0.98), 15, 0.0, 0.0, 0.0);
}

.mainWindowButton:hover {
   -fx-scale-x: 1.03; /* 25 % größer */
   -fx-scale-y: 1.03; /* 25 % größer */
   -fx-text-fill: #0088bb; /* Optionale Farbe */
   -fx-transition: all 0.7s ease-in-out;
   -fx-background-color: radial-gradient(center 50% 50%, radius 50%, #21d805, #09dd94);
}


.grid-pane-style {
    -fx-grid-lines-visible: true;
}
