
.gridPane Line {
    -fx-stroke: -fx-colorGridMain;
    -fx-stroke-width: 2;
}

.mainButton1 {
    -fx-fit-to-width: true;
    -fx-font-family: "Serif";
    -fx-background-color: none;
}


.mainButton1Box {
    -fx-text-alignment: center;
    -fx-spacing: 2pt;
    -fx-alignment: center;
}

.scroll-pane{
    -fx-border-color: none;
}

.scroll-pane:focused {
    -fx-background-color: none;
    -fx-focus-color: none;
    -fx-faint-focus-color: none;
}

.flowPane{
    -fx-padding: 0 0 0 10;
    -fx-alignment: top-center;
}


.mainButton1TextLabel{
    -fx-font-family: Serif;
    -fx-font-size: 10pt;
    -fx-font-style: italic;
    -fx-font-weight: bold;  /* Text fett */
    -fx-wrap-text: true;
    -fx-text-alignment: center;
}


.mainButton1Box:hover  {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;

}

.leftToolbar{
    -fx-border-width: 0 1 0 0;
    -fx-spacing: 40px;
}




