
.gridPane Line {
    -fx-stroke: -fx-colorGridMain;
    -fx-stroke-width: 2;
}


.leftToolbar{
    -fx-border-width: 0 1 0 0;
    -fx-orientation:"VERTICAL";
    -fx-pref-width: 120;
    -fx-min-width: 120;
    -fx-max-width: 120;
    -fx-padding:  10 5 0 0;
}


.mainButton1 {
    -fx-fit-to-width: true;
    -fx-font-family: "Serif";
    -fx-background-color: none;
}

.mainButton1Path{

}

.mainButton1Box {
    -fx-padding: 5 3 5 3;
    -fx-border-width: 1;
    -fx-border-radius: 0 5 5 0;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-translate-x: 0;
}
.mainButton1Box-selected{
    -fx-translate-x: 4;
    -fx-border-width: 1 1 1 4;
}

.mainButton1TextLabel{
    -fx-font-family: Serif;
    -fx-font-size: 10pt;
    -fx-font-style: italic;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
}


.mainButton1Box:hover  {
    -fx-translate-x: 4;
    -fx-cursor: hand;

}


.scroll-bar:vertical .thumb,
.scroll-bar:horizontal .thumb {
    -fx-background-radius: 5;
}

.scroll-pane{
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
    -fx-vbar-policy: "AS_NEEDED";
    -fx-background-color: none;
    -fx-focus-color: none;
    -fx-faint-focus-color: none;
    -fx-border-color: none;
    -fx-border-width: 0 0 0 0;

}

.cardContainer{
    -fx-padding: 10 0 0 10;
    -fx-alignment: top-left;
    -fx-focus-color: none;
    -fx-faint-focus-color: none;
    -fx-border-color: none;
    -fx-background-image: url("../img/icons/counterClockLight.png");
    -fx-background-position: right 80px bottom 80px;
    -fx-background-repeat: no-repeat;
}

.progress-bar {
    -fx-accent: -fx-color13;
    -fx-background-color: transparent;
    -fx-border-radius: 1;
    -fx-border-color: -fx-color3;
    -fx-background-radius: 1;
}

.progress-bar .track{
    -fx-background-color: transparent;
    -fx-pref-height: 10;
    -fx-background-radius: 1;
}





