Pane{
   -fx-min-width: 800px;
   -fx-min-height: 800px;
   -fx-max-width: 800px;
   -fx-max-height: 800px;
}


.path {

    -fx-padding: 10px;
}

TextArea:hover {
    -fx-pref-height: 100;
    -fx-border-color: lightblue;
}
