
.path {
    -fx-padding: 10px;
}

.toolBarBottom{
    -fx-background-color: transparent;
    -fx-min-height: 80;
    -fx-max-height: 100;
    -fx-min-width: 500;
    -fx-max-width: 600;
    -fx-padding: 0 0 40 0;
}

.toolBarBottom{
    -fx-alignment: center;
    -fx-spacing: 25;
}

.playButton,
.pauseButton,
.deleteButton,
.saveButton,
.backupButton,
.restoreButton,
.playReverseButton,
.deleteSettingsButton {
    -fx-background-color: transparent;
    -fx-text-fill: transparent;  /* Falls Text auf Button ist */
    -fx-border-color: transparent;  /* Keine Umrandung */
    -fx-min-height: 25;
    -fx-max-height: 25;
    -fx-min-width: 25;
    -fx-max-width: 35;
    -fx-pref-width: 35;
    -fx-pref-height: 35;
}

VBox > .browseButton{
    -fx-border-radius: 10;
    -fx-background-color: none;
}


TextField, TextArea{
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.custom-tooltip {
    -fx-background-color: #2c3e50; /* Hintergrund der Sprechblase */
    -fx-text-fill: #ecf0f1;        /* Textfarbe */
    -fx-padding: 10px;            /* Abstand innen */
    -fx-font-size: 14px;          /* Schriftgröße */
    -fx-border-color: #34495e;    /* Randfarbe */
    -fx-border-radius: 10px;      /* Abgerundete Ecken */
    -fx-background-radius: 10px; /* Hintergrundradius */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.5, 0, 3); /* Schatteneffekt */
}



