.header{
    -fx-font-size: 16pt;
    -fx-font-style: italic;
    -fx-text-fill: -fx-header1;
}

.basicButtonSettings {
    -fx-background-radius: 3;
    -fx-font-size: 12pt;
    -fx-border-radius: 3;
}


VBox{
    -fx-padding: 8;
    -fx-spacing: 3;
    -fx-border-width: 1 0 0 0;
    -fx-border-color: -fx-color13;
}

.keyValueRow{
    -fx-alignment: center-left;
    -fx-font-size: 10pt;
}
.bufferRow{
    -fx-font-size: 10pt;
}


.bufferLabel1 {
    -fx-pref-width: 150;
    -fx-alignment: center-left; /* Links ausgerichteter Text */
}

.bufferLabel2 {
    -fx-pref-width: 50;
    -fx-alignment: center; /* Links ausgerichteter Text */
}

.bufferLabel3 {
    -fx-pref-width: 70;
    -fx-alignment: center-right;  /* Das letzte Label rechtsbündig */
}

.description{
    -fx-min-width: 130;
    -fx-max-width: 130;

}

.description2{
    -fx-padding: 0 5 0 0;
    -fx-min-width: 50;
}

.description3{
    -fx-padding: 10;
    -fx-pref-width: 350;
}


.inputField2{
     -fx-background-radius: 5;
     -fx-border-radius: 5;
     -fx-pref-width: 500;

}

.keyValueRow2{
    -fx-pref-width: -1;
    -fx-alignment: center-left;
    -fx-font-size: 10pt;
}

.inputField{
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-pref-width: 40;
    -fx-padding: 3;

}


