.header{
    -fx-font-size: 16pt;
    -fx-font-style: italic;
    -fx-text-fill: -fx-header1;
}

.basicButtonSettings {
    -fx-background-radius: 3;
    -fx-font-size: 12pt;
    -fx-border-radius: 3;
}



VBox{
    -fx-padding: 20;
    -fx-spacing: 5;
}

.keyValueRow{
    -fx-alignment: center-left;
    -fx-font-size: 10pt;
}

.description{
    -fx-min-width: 130;
    -fx-max-width: 130;

}

.description2{
    -fx-padding: 0 5 0 0;
    -fx-min-width: 50;
}

.inputField2{
     -fx-background-radius: 5;
     -fx-border-radius: 5;
     -fx-pref-width: 500;

}

.keyValueRow2{
    -fx-pref-width: -1;
    -fx-alignment: center-left;
    -fx-font-size: 10pt;
}

.inputField{
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-pref-width: 40;
    -fx-padding: 3;

}


