/*-------------------MAIN VIEW BUTTONS--------------------------*/



.mainButton2 {
    -fx-background-color: -fx-radialGradient1;
    -fx-effect: -fx-effect9;
}

.mainButton2:hover {
    -fx-background-color: -fx-radialGradient2;
}

.mainButton1Box{

}

.mainButton1 {
    -fx-background-color: -fx-radialGradient1;
    -fx-effect: -fx-effect9;
}

/* Button Hover */
.mainButton1:hover {
    -fx-background-color: -fx-radialGradient2;
}

/* Button Box Hover */
.mainButton1Box:hover .mainButton1 {
    -fx-background-color: -fx-radialGradient2;
}

.mainButton1TextLabel{
    -fx-text-fill: -fx-color1;
}


.mainButton1Box:hover .mainButton1TextLabel {
    -fx-text-fill: -fx-color13;
}

.imageFee{
    -fx-effect: -fx-effect3;
}


/*-------------------END MAIN VIEW BUTTONS--------------------------*/



/*---------------------  COMPONENTS ---------------- */
.check-box {
    -fx-background-color: -fx-color9;
    -fx-border-color: -fx-color17;
}

.check-box:selected {
    -fx-background-color: -fx-color4;
    -fx-border-color: -fx-color5;
}

.check-box .box {
    -fx-background-color: -fx-color10;
    -fx-border-color: -fx-color11;

}

.check-box:selected .box {
    -fx-background-color: -fx-color10;
    -fx-border-color: -fx-color11;
    -fx-fill: -fx-color5;
}

.check-box:hover {
    -fx-border-color: -fx-color13;
}
/*---------------- END OF COMPONENTS ---------- */


.toolbar{
    -fx-background-color: -fx-color15;
    -fx-border-color: -fx-color16;
}


.basicButton SVGPath {
    -fx-fill: -fx-color14;
    -fx-stroke: -fx-color14;
}
/*------------------------ Scene and Main Scene BACKGROUND COLORS ---------------*/
.basicBackground {
    -fx-background-color: -fx-basicBackground;
}

.mainBasicBackground {
    -fx-background-color: -fx-mainBasicBackground;
}


.basicButton {
    -fx-text-fill: -fx-color1;
    -fx-border-color: -fx-color1;
    -fx-effect: -fx-effect1;
}

/* Hover-Effekt: Button wird größer und dunkler */
.basicButton:hover {
    -fx-text-fill: -fx-color13;
    -fx-border-color: -fx-color8;
    -fx-effect: -fx-effect2;
}

.basicButton:hover > SVGPath {
    -fx-fill: -fx-color8;
}


.card {
    -fx-border-color: -fx-color1;
    -fx-background-color: -fx-color6;
    -fx-effect: -fx-effect1;
}

.cardContent > Label {
    -fx-text-fill: -fx-color1;

}

/* Card Title Container */
.cardTitleContainer {
    -fx-background-color: -fx-color6;
    -fx-border-color: transparent transparent -fx-color3 transparent; /* Farbe oben, rechts, unten, links */

}

.cardTitle {
    -fx-text-fill: -fx-color1;
}

.card:hover {
    -fx-border-color: -fx-color13;
    -fx-background-color: -fx-color66;
}

Label{
    -fx-text-fill: -fx-color1;
}
TextArea, TextField{
    -fx-background-color: -fx-color2;
    -fx-text-fill: -fx-color12;
    -fx-border-color: -fx-color3;
}

TextArea {
    -fx-control-inner-background: -fx-color2;  /* Hintergrund des Textbereichs */
}


.playButton:hover {
    -fx-effect: -fx-effect8;
}
.pauseButton:hover {
    -fx-effect: -fx-effect5;
}
.deleteButton:hover {
    -fx-effect: -fx-effect6;
}
.saveButton:hover {
    -fx-effect: -fx-effect7;
}

VBox > .browseButton{
    -fx-text-fill: -fx-color7;
    -fx-border-color: -fx-color7;
}

.browseButton:hover{
    -fx-effect: -fx-effect4;
}

/* ScrollBar Customization */
.scroll-bar:vertical .track,
.scroll-bar:horizontal .track {
    -fx-background-color: -fx-color2;
}

.scroll-bar:vertical .thumb,
.scroll-bar:horizontal .thumb {
    -fx-background-color: -fx-color5;
}

.scroll-pane {
    -fx-background: -fx-basicBackground;
}


/*--------------ACTION BUTTONS---------------------*/

#deleteButtonPath {
    -fx-stroke: -fx-deleteColor;
}
#pauseButtonPath{
    -fx-stroke: -fx-pauseColor;
}

#playButtonPath {
    -fx-stroke: -fx-playButton;
}

#saveButtonPath {
    -fx-stroke: -fx-saveColor;
}

/*--------------END ACTION BUTTONS---------------------*/

/*-----Settings---------------*/
.headerText{
    -fx-padding: 0 0 10 0;
    -fx-font-size: 18;
    -fx-text-fill: -fx-color1;
}

/*-----END Settings---------------*/


