/*-------------------MAIN VIEW BUTTONS--------------------------*/

.gridPane{
    -fx-: 5;
    -fx-stroke-width: 5;
}

.mainButton2 {
    -fx-background-color: -fx-radialGradient1;
    -fx-effect: -fx-effect9;
}

.mainButton2:hover {
    -fx-background-color: -fx-radialGradient2;
}

.mainButton1Box{

}

.mainButton1Path {
    -fx-fill: -fx-radialGradient1;
    -fx-effect: -fx-effect9;
}


.mainButton1TextLabel{
    -fx-text-fill: -fx-color1;
}

.mainButton1Box:hover .mainButton1Path {
    -fx-fill: -fx-radialGradient2;
}


.mainButton1Box:hover .mainButton1TextLabel {
    -fx-text-fill: -fx-color13;
}

.imageFee{
    -fx-effect: -fx-effect18;
}
.imageFee:hover{
    -fx-effect: -fx-effect3;
}


/*-------------------END MAIN VIEW BUTTONS--------------------------*/



/*---------------------  COMPONENTS ---------------- */
.check-box {
    -fx-background-color: -fx-color9;
    -fx-border-color: -fx-color17;
}

.check-box:selected {
    -fx-background-color: -fx-color4;
    -fx-border-color: -fx-color5;
}

.check-box .box {
    -fx-background-color: -fx-color10;
    -fx-border-color: -fx-color11;

}

.check-box:selected .box {
    -fx-background-color: -fx-color10;
    -fx-border-color: -fx-color11;
    -fx-fill: -fx-color5;
}

.check-box:hover {
    -fx-border-color: -fx-color13;
}
/*---------------- END OF COMPONENTS ---------- */


.toolbar{
    -fx-background-color: -fx-color15;
    -fx-border-color: -fx-color16;
}


.basicButton SVGPath {
    -fx-fill: -fx-color14;
    -fx-stroke: -fx-color14;
}
/*------------------------ Scene and Main Scene BACKGROUND COLORS ---------------*/
.basicBackground {
    -fx-background-color: -fx-basicBackground;
}

.mainBasicBackground {
    -fx-background-color: -fx-mainBasicBackground;
}


.basicButton {
    -fx-text-fill: -fx-color1;
    -fx-border-color: -fx-color1;
    -fx-effect: -fx-effect1;
}

/* Hover-Effekt: Button wird größer und dunkler */
.basicButton:hover {
    -fx-text-fill: -fx-color13;
    -fx-border-color: -fx-color8;
    -fx-effect: -fx-effect2;
}

.basicButton:hover > SVGPath {
    -fx-fill: -fx-color8;
}


.card {
    -fx-border-color: -fx-color1;
    -fx-background-color: -fx-color6;
    -fx-effect: -fx-effect19;
}

.cardContent > Label {
    -fx-text-fill: -fx-color1;

}

/* Card Title Container */
.cardTitleContainer {
    -fx-background-color: -fx-color6;
    -fx-border-color: transparent transparent -fx-color3 transparent; /* Farbe oben, rechts, unten, links */

}

.cardTitle {
    -fx-text-fill: -fx-color1;
}

.card:hover {
    -fx-border-color: -fx-color13;
    -fx-effect: -fx-effect9;
}

Label{
    -fx-text-fill: -fx-color1;
}

.tooltip{
    -fx-background-color: -fx-color13;
    -fx-text-fill: -fx-color12;
}


/* ---------------- DetailVIEW Elements  ------------------      */


TextField, TextArea {
    -fx-background-color: -fx-color2;
    -fx-text-fill: -fx-color12;
    -fx-border-color: -fx-color3;
}
TextArea .content{
    -fx-background-color: -fx-color2;
    -fx-text-fill: -fx-color12;
    -fx-border-color: none;
}

.combo-box, .combo-box .cell, .date-picker .text-field, .date-picker .day-cell, .combo-box .cell:selected {
    -fx-background-color: -fx-color2;
    -fx-text-fill: -fx-color12;
    -fx-border-color: -fx-color3;
}

.combo-box-popup .list-cell:hover, .date-picker .day-cell:hover {
    -fx-background-color: -fx-color13;
}

.combo-box .arrow-button, .date-picker .arrow-button, .date-picker-popup, .date-picker .month-year-pane,
.date-picker .calendar-grid, .date-picker .week-number-cell {
    -fx-background-color: -fx-color2;
}

.combo-box .arrow-button:hover, .date-picker .arrow-button:hover {
    -fx-background-color: -fx-color13;
}

.date-picker .day-cell:selected {
    -fx-background-color: -fx-color13;
    -fx-text-fill: -fx-color2;
}

.browseButton{
    -fx-text-fill: -fx-color7;
    -fx-border-color: none;
}

.browseButton:hover{
    -fx-effect: -fx-effect4;
}


/* ---------------- DetailVIEW Elements  ------------------      */



.standardButton{
    -fx-text-fill: -fx-color7;
    -fx-border-color: -fx-color7;
}
.standardButton:hover {
    -fx-effect: -fx-effect4;
}


/* ScrollBar Customization */
.scroll-bar:vertical .track,
.scroll-bar:horizontal .track {
    -fx-background-color: -fx-color2;
}

.scroll-bar:vertical .thumb,
.scroll-bar:horizontal .thumb {
    -fx-background-color: -fx-color5;
}

.scroll-pane {
    -fx-background: -fx-basicBackground;
}


/*--------------ACTION BUTTONS---------------------*/

#deleteButtonPath {
    -fx-fill: -fx-deleteColor;
    -fx-stroke: -fx-deleteColor;
}
#pauseButtonPath{
    -fx-fill: -fx-pauseColor;
    -fx-stroke: -fx-pauseColor;
}

#playButtonPath {
    -fx-fill: -fx-playButton;
    -fx-stroke: -fx-playButton;
}

#saveButtonPath {
    -fx-fill: -fx-saveColor;
    -fx-stroke: -fx-saveColor;
}

#backupButtonPath {
    -fx-fill: -fx-playButton;
    -fx-stroke: -fx-playButton;
}
#restoreButtonPath {
    -fx-fill: -fx-restoreColor;
    -fx-stroke: -fx-restoreColor;
}

#playReverseButtonPath {
    -fx-fill: -fx-restoreColor;
    -fx-stroke: -fx-restoreColor;
}

#deleteSettingsButtonPath {
    -fx-fill: -fx-saveColor;
    -fx-stroke: -fx-saveColor;
}


.playButton:hover {
    -fx-effect: -fx-effect8;
}
.pauseButton:hover {
    -fx-effect: -fx-effect5;
}
.deleteButton:hover {
    -fx-effect: -fx-effect6;
}
.saveButton:hover {
    -fx-effect: -fx-effect7;
}

.backupButton:hover {
    -fx-effect: -fx-effect8;
}

.restoreButton:hover {
    -fx-effect: -fx-effect10;
}

.playReverseButton:hover {
    -fx-effect: -fx-effect10;
}

.deleteSettingsButton:hover {
    -fx-effect: -fx-effect7;
}
/*--------------END ACTION BUTTONS---------------------*/

/*-----Settings---------------*/
.headerText{
    -fx-padding: 0 0 10 0;
    -fx-font-size: 18;
    -fx-text-fill: -fx-color1;
}

/*-----END Settings---------------*/
.messageHeader{
    -fx-text-fill: -fx-header1;
}

/*--------------Messages----------------------*/


/*-------------RESTORE MODES----------------*/

.danger{
    -fx-background-color: -fx-danger;
    -fx-border-color: -fx-dangerBorder1;
}

.toast{
    -fx-border-color: -fx-color23;
}

.toastLogo{
    -fx-effect: -fx-effect3;
}

/*----------------END RESTORE--------------------------*/