
.topToolbar{
    -fx-spacing: 15;
    -fx-border-width: 0 0 1 0;
}

.basicButton {
    -fx-border-width: 0;
}

.basicButton > * {
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-padding: 0;
    -fx-font-size: 18pt;
}


.basicButton:hover {

}