
.topToolbar{
    -fx-spacing: 15;
    -fx-border-width: 0 0 1 0;
}

.basicButton {
    -fx-min-height: 25pt;
    -fx-min-width: 25pt;
    -fx-background-radius: 3;
}

.basicButton > * {
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-font-size: 12pt;

}
